BAILIAN_API_KEY=
BAILIAN_MODEL=qwen-plus
VOLCENGINE_AST_API_KEY=
VOLCENGINE_AST_MODEL_ID=Doubao_scene_SLM_Doubao_SI_model2000000748711437826
VOLCENGINE_AST_TRANSLATED_AUDIO_DELAY_MS=0
VOLCENGINE_AST_APP_ID=
VOLCENGINE_AST_ACCESS_TOKEN=
VOLCENGINE_AST_SECRET_KEY=
VOLCENGINE_AST_RESOURCE_ID=volc.service_type.10053
